*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial,sans-serif;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    display: flex;
    padding: 8px 5px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    background-color: #0C0C31;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
  }
  .navbar .logo img{
    width:70px;
    margin-top: 9px;
    margin-left: 50px;
  }
  
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
    cursor:pointer;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 2px 30px 2px 0px;
  }
  
  nav .navbar .links li a{
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    transition: .5s;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background-color: rgba(12,15,80,0.81);
    box-shadow: 0 1px 2px rgba(248, 228, 228, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
    line-height: 40px;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .bx-menu{
    display: none;
    color:#fefefe;
    font-size: 32px;
  }
  @media (max-width:920px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
  
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media (max-width:800px){
    nav{
      position: relative;
    }
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
  
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .nav-links .links li{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    }
    nav .navbar .nav-links .links li:hover::after{
      width: 100%;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      display: flex;
      align-items: center;
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  }
  }


  /*** content ***/

.banner{
    width:100%;
    min-height: 60vh;
    top:80px;
    position: fixed;
    margin-top: 10px;
}


.details .content{
    width: 100%;
    position: relative;
    top:580px;
    width: 100%;
    min-height: 50vh;
    background-color: #ffffff;
}

.details .content .head{
  width: 100%;
}
.details .content .sub-head{
  margin-top: 5%;
  width: 70%;
  margin-left: 15%;
}
.content .img{
  width: 70%;
  margin-left: 15%;
}
.content .bx{
  margin-left: 15%;
  font-size: 40px;
}
.content .bx:hover{
  color: #00729D;
  cursor: pointer;
}
.content .fas{
  margin-left: 15%;
  font-size: 30px;
}
.content .fas:hover{
  color: #00729D;
  cursor: pointer;
}
.tooltip {
  margin-left: 15%;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.content .list{
  width: 80%;
  padding-left: 18%;
}
.content h4, p{
  width: 70%;
  margin-left: 15%;
}
.content h3{
  text-align: center;
  font-size: 27px;
}
.content h4{
  font-weight: 700;
}
.content p{
  text-align: justify;
  line-height: 30px;
}
.content table, th, td{
  border: 2px solid #0C0C31;
  margin-left: 25%;
  border-collapse: collapse;
  padding: 20px 40px;
  text-align: center;
}
.content table .title{
  background-color: #14142c33;
}
.content .bbtn{
  cursor: pointer;
	display: block;
	background: #0097d7;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	width: 15%;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
  margin: 20px 0px;
  margin-left: 15%;
  font-weight: 700;
}
.content .bbtn:hover{
background: #00729D;
}
  /*** FOOTER ***/
  header p {
    padding: 50px;
    text-align: center;
    color: #bebebe;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 700;
  }
  footer {
    position: relative;
    top:450px;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #0C0F30;
    }
    
  footer > * {
    flex:  1 100%;
  }
    
  .l-footer {
    margin-bottom: 1em;
  }
  .l-footer h1{
    width: 130px;
    padding-left: 90px;
  }
  .l-footer .details-footer{
    text-align: justify;
    text-indent: 30px;
  }
    
  h2 {
    font-weight: 500;
    font-size: 16px;
  }
  h4{
    font-weight: 300;
  }
  
  .contacts{
    padding-right: 10px;
  }
    
  footer ul {
    list-style: none;
    padding-left: 0;
  }
    
  footer li {
    line-height: 2em;
  }
  .box a{
    text-decoration: none;
  }
  .box .h-box{
    text-decoration: none;
  }
    
  .r-footer {
    display: flex;
    flex-flow: row wrap;
  }
    
  .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
    
  .box a {
    color: #999;
  }
    
  .h-box {
    column-count: 1;
    column-gap: 1.25em;
  }
    
  .b-footer {
    border-top: 3px solid #999;
    text-align: center;
    color: #999;
    padding-top: 20px;
  }
    
  .l-footer p {
    padding-right: 20%;
    color: #999;
  }   
    
  @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
  }
    
  .contacts {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
  }

  /** BACK TO TOP BUTTON*/
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #0C0F30;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
